<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a2d0639a4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="styles.css">
    <title>JDP Social Media Home Page</title>
</head>
<body>

<header>
    <h1>JDP Mental Health Forum</h1>
    <a href="/auth/login"><button class="login-button">Login</button></a>    
</header>

<article>
    <p>If you do not wish to use your Microsoft login, you may use the guest account
        <br>
        username: guest@joe932.onmicrosoft.com 
        <br>
        pass: Testacc3$
    </p>
</article>
   
</body>

<script src="../main.js" defer></script>
</html>