html *{
    background-color: rgb(236, 245, 246);
    font-family: 'Ubuntu', sans-serif;
    color: rgb(34, 44, 63);

}

header{
    padding-top: 1%;
    text-align: center;
}
button{
    font-size: 2rem;
    border-radius: 5px;
    padding: 1%;
    margin: 0 1%;
}

.logout-button{
    background-color: rgb(251, 72, 66);
    color: rgb(236, 245, 246);
}

.login-button{
    background-color: rgb(34, 44, 63);
    color: rgb(236, 245, 246);
}

h1, h2, h3{
    color: rgb(34, 44, 63);
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

h3, h2{
    margin: 1% 0;
    font-size: 2rem; 
}
h2{
    font-size: 2rem; 
}

p{
    font-size:1.5rem; 
}

.timestamp{
    font-size: 1rem;
}

.fa-dumpster {
    text-align: center;
    color: rgb(251, 72, 66);
    font-size: 2rem;
    margin-left: 3%;
}

.post-section, .post-submit-section{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5%;
    width: 80%;
    margin: 1%;
}

.post-submit-section{
    width: fit-content;
    padding: 2%;
}

.text-form{
    width: 75%;
}

input{
    margin-bottom: 2%;
}
